<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/Css/Bootstap.min.css">
    <link rel="stylesheet" href="/public/Css/db.css">
    <script src="/public/Js/Bootstap.buddle.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/public/Js/sweetalert2.js"></script>
    <title>BBS_staff</title>
</head>

<body>
    <nav class="text-end mx-3">
        <img src="/public/Image/user.png" alt="User" width="25" class="mt-2 mb-2">
        <span id="SetUsername" style="color: black;" class="mt-2">Staff</span>
    </nav>

    <nav class="navbar navbar-expand-lg">

        <div class="container border-bottom border-2 border-danger thick-border-bottom">
            <img src="/public/Image/icon.png" alt="icon" width="75" class="mx-3">
            <a class="navbar-brand text-white" href="/HomeStaff"><span style="color: rgb(160, 0, 0);">BOOK
                    BORROWING</span>_<span style="color: rgba(197, 91, 26, 0.699);">SYSTEM</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/HomeStaff" style="color: rgb(184, 14, 14);">DASHBOARD</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link link-dark"   href="/HomeStaff/List">LIST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="/HomeStaff/Return">RETURN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="/HomeStaff/History">HISTORY</a>
                    </li>
                    <li class="nav-item">
                        <!-- Button trigger modal -->
                        <a type="button" class="nav-link text-dark" data-bs-toggle="modal" data-bs-target="#modalId"
                            data-target=".bd-example-modal-lg">
                            LOGOUT
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalTitleId">
                                            LOG OUT
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-success" id="logoutBtn">LOG OUT</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">CANCEL</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </nav>

    <div class="row px-2 justify-content-center" style="padding: 100px;" id="bookCounts">

    </div>
    
    <script src="/public/Js/DashboardAD.js"></script>
    


</body>

</html>