<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/Css/Bootstap.min.css">
    <script src="/public/Js/Bootstap.buddle.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/public/Js/sweetalert2.js"></script>
    <title>BBS_staff</title>
    <style>
        table, th, td {
        border: 10px solid white;
        padding: 30px;
        }
    </style>
</head>
<body>
    <nav class="text-end mx-3">
        <img src="/public/Image/user.png" alt="User" width="25" class="mt-2 mb-2">
        <span id="SetUsername" style="color: black;" class="mt-2">Staff</span>
    </nav>

    <nav class="navbar navbar-expand-lg">
        
        <div class="container border-bottom border-2 border-danger thick-border-bottom">
            <!-- <i class="bi bi-book mx-3" style="font-size: 75px;"></i> -->
            <img src="/public/Image/icon.png" alt="icon" width="75" class="mx-3">
            <a class="navbar-brand text-white" href="/HomeStaff"><span style="color: rgb(160, 0, 0);">BOOK
                    BORROWING</span>_<span style="color: rgba(204, 144, 53, 0.699);">SYSTEM</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="/HomeStaff">DASHBOARD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark"   href="/HomeStaff/List">LIST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="/HomeStaff/Return">RETURN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HomeStaff/History" style="color: rgb(160, 0, 0);">HISTORY</a>
                    </li>
                    <li class="nav-item">
                        <!-- Button trigger modal -->
                        <a type="button" class="nav-link text-dark" data-bs-toggle="modal" data-bs-target="#modalId"
                            data-target=".bd-example-modal-lg">
                            LOGOUT
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalTitleId">
                                            LOG OUT
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-success" id="logoutBtn">LOG OUT</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">CANCEL</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3" id="contentContainer">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="input-group col-md-6">
                    <input type="search" class="form-control search-input rounded-pill"
                        style="background-color: #f0f0f0;" placeholder="Search">

                </div>

            </div>
        </div>
    </div>

    <div class="container mt-3 text-center" style="background-color: rgba(188, 135, 65); color: white; padding: 20px;">
        <h5>HISTORY</h5>
    </div><br>

    <div>
        <table class="container">
            <thead class="text-center" style="background-color: rgb(160, 0, 0); color: white;">
                <tr></tr><th>BORROWER</th> <th>BOOK NAME</th> <th>BORROWED DATE</th> <th>RETURNED DATE</th> <th>APPROVER</th> <th>STATUS</th> <th>ASSET BACK</th><tr></tr>
            </thead>
            <tbody id="body" class="text-center" style="background-color: rgb(255, 244, 227); color: rgb(44, 44, 44);">
                <tr></tr><td>65...</td> <td>RULES FOR ROMANCE</td> <td>05/11/66</td> <td>06/11/66</td> <td>(List of lender)</td> <td class="text-warning">BORROWING</td> <td></td><tr></tr>
                <tr></tr><td>65...</td> <td>STARBORN</td> <td>08/09/66</td> <td>13/09/66</td> <td>(List of lender)</td> <td class="text-success">RETURNED</td> <td>(List of staff)</td><tr></tr>
            </tbody>
        </table>
    </div>

    <script>
        function setUserName() {
            const usernameElement = document.querySelector('#SetUsername');
            const username = localStorage.getItem('name'); // Assuming you have stored the username in localStorage after login
            usernameElement.textContent = username;
        }
        // Call the function when the page loads
        window.onload = setUserName;
        
        function logout() {
            // Clear any user-related data from local storage
            localStorage.removeItem('name'); // Assuming you store the username under the key 'name'

            // Redirect to the index page
            window.location.href = '/'; // Replace '/index.html' with the actual path of your index page
        }

        // Add event listener for logout button click
        document.querySelector('#logoutBtn').addEventListener('click', function () {
            logout();
        });
    </script>
</body>
</html>